# Lab 1: Playing with IRIS Dataset

Name: **Krish Agarwal** <br>
Reg No: **21112016** <br>
Class: **3BSc DS A** <br>

---------------

## **Objective**:

1. Import the Toy IRIS Dataset
1. Print the Head and Tail of the Dataset (first 5 and last 5 entries)
1. Create a New Column named "Average" and find the Average of existing four features and store the same
1. Create a New Column named "Sum" and find the Sum of existing four features and store the same 
1. Check how many entires of "IRIS Setosa", "IRIS Virgnica" and "IRIS Versicolor" are present in the Dataset 
1. Find the Descriptive Statistics about all the Six Columns (existing four + two made-up features) 
1. Find the entries whose Sum Values are more than a User Input 
1. Find the entries whose Sepal_Length is greater than Petal_Width

## **Problem Definition**:

Exploring the in-built functions in the pandas library, mapping of values ( or LabelEncoder() ), double indexing and looping concepts.

## **Approach/Method**:

1) I took a NumPy approach wherein I added the feature_names and target_names column to a pandas dataframe.  
2) Printing the dataframe by calling the variable.  
3) Adding up of all the row values to a newly added column, Average, and then dividing it by total number of columns. (simplpe approach)  
4) Adding up of all the row values to a newly added column, Sum. (simplpe approach).  
5) Converting the [0, 1, 2] entries to their respective names and then counting the total number of values under each categories by value_counts() function.  
6) Using the in-built .describe() function to get basic statistical summary of the dataset.  
7 & 8) Using the double indexing approach.

## **Observation**:  
1. We infer from this that there are multiple ways to import the IRIS dataset but here I take the NumPy approach and add all the feature_names and target_names. I also understood the concepts of target variable and feature variables in real life ML problems. Along with that, basic information about the dataframe viz it has five columns named ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)', 'Species'] and 150 rows.  
2. Different Errors that people run into. They might not have converted their dataset into a dataframe.  
3. Using of simple operators.  
4. Using of simple operators.  
5. How menu-driven program was impliable into this situation and the mapping of values to their names wasn't a complex task. Overriding of variables.  
6. The .describe() function provides the user a basic statistic summary of the dataframe viz count, mean, std, quartiles, etc. It also allowed me to come across multiple in-built functions which the pandas library offers.  
7. There exists 27 entries which satisfies the given condition. Double Indexing.  
8. All the entries have their sepal lengths greater than petal width. Double Indexing.

## **Results**:

The IRIS dataset has 150 rows and 5 columns - sepal length (cm), sepal width (cm), petal length (cm), petal width (cm) and Species. Species is the target column which consists of setosa (0), versicolor (2) and virginica (2). The dataset contains only of numerical data. Each Species category has 50 entries to it.

## **Learning and Reflections**:

After the completion of this lab, I came across quite a few of the basic panda functions. I am now familiar with how to work with real life datasets and how to take inference from the same.

## **Refrences**:

1. https://www.datacamp.com/cheat-sheet/1.pandas-cheat-sheet-for-data-science-in-python  
2. https://pandas.pydata.org/  
3. https://www.w3schools.com/python/pandas/default.asp
4. https://stackoverflow.com/questions/47068468/reverse-label-encoding-giving-error  
5. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html  
6. https://www.geeksforgeeks.org/adding-new-column-to-existing-dataframe-in-pandas/  
7. https://www.datacamp.com/cheat-sheet/pandas-cheat-sheet-for-data-science-in-python

## **Completion Status**:

| Question Number | Status |
| --- | --- |
| 1 | Completed |
| 2 | Completed |
| 3 | Completed |
| 4 | Completed |
| 5 | Completed |
| 6 | Completed |
| 7 | Completed |
| 8 | Completed |

In [ ]:
import pandas as pd
from sklearn import datasets
import numpy as np

**Q1) Import the Toy IRIS Dataset**

In [ ]:
iris = datasets.load_iris()
df = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                  columns= iris['feature_names'] + ['Species'])

# Observation: We infer from this that there are multiple ways to import the IRIS dataset but here I take the NumPy approach and add all the feature_names and target_names.
# I also understood the concepts of target variable and feature variables in real life ML problems. Along with that, basic information about the dataframe viz it has five columns 
# named ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)', 'Species'] and 150 rows.

**Q2) Print the Head and Tail of the Dataset (first 5 and last 5 entries)**

In [ ]:
#df.head() and df.tail() gives the same output as below
df

# Observation: Different Errors that people run into. They might not have converted their dataset into a dataframe.

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

**Q3) Create a New Column named "Average" and find the Average of existing four features and store the same**

In [ ]:
#Can also use df.mean(axis=1)
df['Average'] = (df['sepal length (cm)'] + df['sepal width (cm)'] + df['petal length (cm)'] + df['petal width (cm)'])/4 


# Observation: Using of simple operators

In [ ]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species,Average,Sum
0,5.1,3.5,1.4,0.2,setosa,2.550,10.2
1,4.9,3.0,1.4,0.2,setosa,2.375,9.5
2,4.7,3.2,1.3,0.2,setosa,2.350,9.4
3,4.6,3.1,1.5,0.2,setosa,2.350,9.4
4,5.0,3.6,1.4,0.2,setosa,2.550,10.2
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,4.300,17.2
146,6.3,2.5,5.0,1.9,virginica,3.925,15.7
147,6.5,3.0,5.2,2.0,virginica,4.175,16.7
148,6.2,3.4,5.4,2.3,virginica,4.325,17.3
149,5.9,3.0,5.1,1.8,virginica,3.950,15.8

**Q4) Create a New Column named "Sum" and find the Sum of existing four features and store the same**

In [ ]:
df['Sum'] = (df['sepal length (cm)'] + df['sepal width (cm)'] + df['petal length (cm)'] + df['petal width (cm)'])

# Observation: Using of simple operators

In [ ]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species,Average,Sum
0,5.1,3.5,1.4,0.2,0.0,2.04,10.2
1,4.9,3.0,1.4,0.2,0.0,1.90,9.5
2,4.7,3.2,1.3,0.2,0.0,1.88,9.4
3,4.6,3.1,1.5,0.2,0.0,1.88,9.4
4,5.0,3.6,1.4,0.2,0.0,2.04,10.2
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0,3.84,17.2
146,6.3,2.5,5.0,1.9,2.0,3.54,15.7
147,6.5,3.0,5.2,2.0,2.0,3.74,16.7
148,6.2,3.4,5.4,2.3,2.0,3.86,17.3
149,5.9,3.0,5.1,1.8,2.0,3.56,15.8

**Q5) Check how many entires of "IRIS Setosa", "IRIS Virgnica" and "IRIS Versicolor" are present in the Dataset**

In [ ]:
# ['setosa' 'versicolor' 'virginica'] --> [0, 1, 2]

for i in range(len(df["Species"])):
    if df["Species"][i] == 0:
        df["Species"][i] = 'setosa'
    elif df["Species"][i] == 1:
        df["Species"][i] = 'versicolor'
    elif df["Species"][i] == 2:
        df["Species"][i] = 'virginica'

In [ ]:
df['Species'].value_counts()

# Observation: How menu-driven program was impliable into this situation and the mapping of values to their names wasn't a complex task. Overriding of variables.

setosa        50
versicolor    50
virginica     50
Name: Species, dtype: int64

**Q6) Find the Descriptive Statistics about all the Six Columns (existing four + two made-up features)**

In [ ]:
df.describe()

# Observation: The .describe() function provides the user a basic statistic summary of the dataframe viz count, mean, std, quartiles, etc. It also allowed me to come across multiple 
# in-built functions which the pandas library offers.

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Average,Sum
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,2.971600,13.858000
std,0.828066,0.435866,1.765298,0.762238,0.777835,3.123762
min,4.300000,2.000000,1.000000,0.100000,1.680000,8.400000
25%,5.100000,2.800000,1.600000,0.300000,2.140000,10.700000
50%,5.800000,3.000000,4.350000,1.300000,3.070000,14.300000
75%,6.400000,3.300000,5.100000,1.800000,3.555000,16.250000
max,7.900000,4.400000,6.900000,2.500000,4.480000,20.400000

**Q7) Find the entries whose Sum Values are more than a User Input**

In [ ]:
print("-"*20)
option = float(input("Enter a number: "))
print("-"*20, "\n")

df[df['Sum']>option]

# Observation: There exists 27 entries which satisfies the given condition. Double Indexing.

--------------------
Enter a number: 16.9
--------------------

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species,Average,Sum
100,6.3,3.3,6.0,2.5,virginica,4.02,18.1
102,7.1,3.0,5.9,2.1,virginica,4.02,18.1
104,6.5,3.0,5.8,2.2,virginica,3.90,17.5
105,7.6,3.0,6.6,2.1,virginica,4.26,19.3
107,7.3,2.9,6.3,1.8,virginica,4.06,18.3
109,7.2,3.6,6.1,2.5,virginica,4.28,19.4
112,6.8,3.0,5.5,2.1,virginica,3.88,17.4
115,6.4,3.2,5.3,2.3,virginica,3.84,17.2
117,7.7,3.8,6.7,2.2,virginica,4.48,20.4
118,7.7,2.6,6.9,2.3,virginica,4.30,19.5
120,6.9,3.2,5.7,2.3,virginica,4.02,18.1
122,7.7,2.8,6.7,2.0,virginica,4.24,19.2
124,6.7,3.3,5.7,2.1,virginica,3.96,17.8
125,7.2,3.2,6.0,1.8,virginica,4.04,18.2
129,7.2,3.0,5.8,1.6,virginica,3.92,17.6
130,7.4,2.8,6.1,1.9,virginica,4.04,18.2
131,7.9,3.8,6.4,2.0,virginica,4.42,20.1
132,6.4,2.8,5.6,2.2,virginica,3.80,17.0
135,7.7,3.0,6.1,2.3,virginica,4.22,19.1
136,6.3,3.4,5.6,2.4,virginica,3.94,17.7
139,6.9,3.1,5.4,2.1,virginica,3.90,17.5
140,6.7,3.1,5.6,2.4,virginica,3.96,17.8
141,6.9,3.1,5.1,2.3,virginica,3.88,17.4
143,6.8,3.2,5.9,2.3,virginica,4.04,18.2
144,6.7,3.3,5.7,2.5,virginica,4.04,18.2
145,6.7,3.0,5.2,2.3,virginica,3.84,17.2
148,6.2,3.4,5.4,2.3,virginica,3.86,17.3

**Q8) Find the entries whose Sepal_Length is greater than Petal_Width**

In [ ]:
df[df['sepal length (cm)']>df['petal width (cm)']]

# Observation: All the entries have their sepal lengths greater than petal width. Double Indexing.

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species,Average,Sum
0,5.1,3.5,1.4,0.2,setosa,2.04,10.2
1,4.9,3.0,1.4,0.2,setosa,1.90,9.5
2,4.7,3.2,1.3,0.2,setosa,1.88,9.4
3,4.6,3.1,1.5,0.2,setosa,1.88,9.4
4,5.0,3.6,1.4,0.2,setosa,2.04,10.2
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,3.84,17.2
146,6.3,2.5,5.0,1.9,virginica,3.54,15.7
147,6.5,3.0,5.2,2.0,virginica,3.74,16.7
148,6.2,3.4,5.4,2.3,virginica,3.86,17.3
149,5.9,3.0,5.1,1.8,virginica,3.56,15.8

<hr>